body {
  background-color: aquamarine;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.text-code {
  font-family: "JetBrainsMono Nerd Font", ui-monospace, Consolas, monospace;
  font-size: 1rem;
}

.text-label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Arial,
    Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--font);
}

.main-container {
  background-color: var(--background);

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  user-select: none;
}

.left-container {
  /* background-color: darksalmon; */

  width: 400px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.title-container {
  padding: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  flex-grow: 1;
  text-wrap: nowrap;
}

.separator {
  background-color: var(--separator);

  padding: 2px;
}

.explorer {
  /* background-color: lightskyblue; */

  margin: 0.5rem;
  margin-right: 0;
  text-wrap: nowrap;
}

.file {
  /* background-color: goldenrod; */

  cursor: pointer;
  margin-left: 1rem;
  display: block;
}

.file:hover {
  background-color: var(--hover);
}

details.folder summary:hover {
  background-color: var(--hover);
}

details.folder summary {
  /* background-color: rgb(15, 14, 27); */

  cursor: pointer;
}

.filetree-indent {
  margin-left: 1rem;
}

.right-container {
  /* background-color: lightgreen; */

  display: flex;
  flex: 1;
  flex-direction: column;
}

.dragbar {
  cursor: col-resize;
}

.header {
  /* background-color: pink; */

  display: flex;
  align-items: baseline;
}

.file-controls {
  /* background-color: rgb(144, 134, 206); */

  justify-content: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
}

.wrap-setting {
  /* background-color: darkgray; */

  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}

.filter-setting {
  /* background-color: aquamarine; */

  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indent-setting {
  margin-right: 1rem;
}

.number-field {
  text-align: right;
  width: 3rem;
  margin-left: 3px;
  margin-right: 3px;
  font-family: inherit;
  border-color: #586e75;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
}

.hidden {
  display: none;
}

.code-vertical {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: scroll;
}

.code-horizontal {
  display: flex;
  flex-direction: row;
}

.line-num-bar {
  margin-left: 0.5rem;
  direction: rtl;
}

.scope-bar {
  width: 1rem;
  text-align: center;
}

.thin-separator {
  background-color: var(--separator);

  padding: 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.indent {
  display: inline-block;
  white-space: pre;
  tab-size: 4;
  user-select: text;
}

p {
  margin: 0;
}

.code {
  user-select: text;
  display: inline-block;
}

.code:empty {
  width: 1px;
}

.code-comment {
  color: #007a00;
}
.code-directive {
  color: #757575;
}
.code-literal-str {
  color: #e54a00;
}
.code-literal-num {
  color: #708b05;
}
.code-type-internal {
  color: black;
}
.code-type-user {
  color: #00889f;
}
.code-keyword-decl {
  color: #006cb9;
}
.code-keyword-oper {
  color: #990199;
}
.code-id-fun {
  color: #a9670f;
}
.code-id-var {
  color: #1e4164;
}
.code-ln {
  color: #2b6d83;
}
